* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding-top: 1em;
    font-size: 1em;
    font-weight: bold;
    font-family: ubuntu;
    color: white;
}

.gameContainer {
    border-radius: .5rem;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    background-image: url(ran-one.jpg), linear-gradient(to right, teal, orangered);
    background-blend-mode:multiply;
    min-height: 90vh;
    background-size: cover;
}

input {
    display: block;
    margin: 1em auto;
    
}

#playerInput {
    border: none;
    border-radius: 4px;
    padding: 0.5em;
}

#startButton,
#restartButton,
#playButton {
    padding: .5rem 2rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: ubuntu, helvetica, 'Orbitron', sans-serif;
    font-style: italic;
    cursor: pointer;
}

/* seletions {
    font-family: 'Caveat', cursive;

    font-family: 'Orbitron', sans-serif;

    font-family: 'Permanent Marker', cursive;

    font-family: 'Press Start 2P', cursive;
} */